[core]
	editor = vim
	autocrlf = input
	eol = lf
	pager = delta
[delta]
	navigate = true
	side-by-side = true
[diff]
	colorMoved = default
[commit]
	gpgsign = true
[user]
	signingkey = 4431E64723B4ADDE
	email = mail@vineelsai.com
	name = Vineel Sai
[tag]
	gpgSign = true
[gpg]
	program = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[pull]
	rebase = false
	ff = true
[push]
	default = current

[safe]
	directory = /home/build/repo/build/neovim
