[core]
	editor = \"C:\\Users\\Vineel\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	autocrlf = false
	eol = lf
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILFxoOyDEW620PrgX1atOr0N5+35im37nko3KcY+odPq
	email = mail@vineelsai.com
	name = Vineel Sai
[tag]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "C:\\Users\\Vineel\\AppData\\Local\\1Password\\app\\8\\op-ssh-sign.exe"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
