[core]
	editor = vim
	autocrlf = false
	eol = lf
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII8d0IRfaJbv8QfOzyn105HtUajqBPfWv7dcV0WHBDEC
	email = mail@vineelsai.com
	name = Vineel Sai
[tag]
	gpgSign = true
[gpg]
	program = gpg
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[push]
	autoSetupRemote = true
