# Terminal History
.zsh_history
.bash_history
.python_history
.zsh_sessions
.zcompdump*

# VSCode
.vscode

# Node
.npm
.yarnrc
.vmn

# SSH
.ssh/*
!.ssh/authorized_keys

# Mac
.DS_Store
._.DS_Store
Applications
Desktop
Documents
Downloads
Google Drive
Library
Movies
Music
Personal
Pictures
Public
Virtual Machines.localized
Work
go

# Cache
.cache
.Trash
.CFUserTextEncoding
.terraform.d
.viminfo
.config/configstore

# secreates
.profile
.docker
.redhat
.anydesk

# Loop Back
.cfg

